{% extends "layout.html" %}




{% block body_content %}
<h1> {{ title }} </h1>
        
{% for review in reviews %}

<a href="{{ url_for('reviews', review_id=review.id) }}" class="gametitlebutton">
<div class="reviewposts">
    <h3>{{ review.title }}</h3>
    <span>by <i>{{ review.first_name }} {{ review.last_name }}</i></span> <br>
    <span>on the <i>{{ review.date_posted }}</i></span>
    <p> -- {{ review.review }}</p>
</div>

</a>
{% endfor %}

<img src="https://github.com/oskar951/Game-Review-Library/blob/Development/Images/background.jpg"

{% endblock %}
