{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.first_name.label }}
            {{ form.first_name }}

            {% if form.first_name.errors %}
            <div class="error">
                {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

            <br>
            {{ form.last_name.label }}
            {{ form.last_name }}

            {% if form.last_name.errors %}
            <div class="error">
                {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
            <br>

            {{ form.game_title.label }}
            {{ form.game_title }}

            <br>
            {{ form.title.label }}
            {{ form.title }}

            {% if form.title.errors %}
            <div class="error">
                {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

            <br>
            {{ form.rating.label }}
            {{ form.rating }}

            {% if form.rating.errors %}
            <div class="error">
                {% for error in form.rating.errors %}
                    <span>{{ error, "make sure it is an integer" }}</span>
                {% endfor %}
            </div>
        {% endif %}

            <br>
            {{ form.review.label }}
            {{ form.review }}

            {% if form.review.errors %}
            <div class="error">
                {% for error in form.review.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

            <br>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}