{% extends "layout.html" %}




{% block body_content %}
<h1> {{ title }} </h1>
        

<div class="reviewposts">
    <h3>{{ review.title }}</h3>
    <span>by <i>{{ review.first_name }} {{ review.last_name }}</i></span> <br>
    <span>on the <i>{{ review.date_posted }}</i></span>
    <p> -- {{ review.review }}</p>
</div>


<form action="{{ url_for('update_review', review_id=review.id) }}">
    <button type="submit">Update Review</button>
</form>


<form action="{{ url_for('delete_review', review_id=review.id) }}" methods='POST'>
    <button type="submit">Delete Review</button>
</form>

{% endblock %}
