[Unit]
Description=Game Library Project
[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/game_pipeline/script/after_installation.sh

[Install]
WantedBy=multi-user.target
