[Unit]
Description=Game Library Project
[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/game_freestyle/script/installation.sh

[Install]
WantedBy=multi-user.target
